/* body {
  font-family: Monospace;
  background-color: #fff;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
} */

html,body
{
  position: relative;
  /* margin: auto; */
  height:100%;
  width:100%;
  overflow: hidden;
  /* display: flex; */
  /* font-family:Sans-serif;
  font-size: 16px;
  color: #666666;
  background: #ffffff; */

}

/* #info {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
} */

#titlebold
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
}

#title
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#LM
{
  background: white;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height:100%;
  width:50%;
  float:left;
  /* Border-style: none;/* dotted line*/ */
  overflow: hidden;
  /* text-align: center; */
}

#TextLM
{
  background: white;
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height:0%;
  min-width:0%;
  top: 5%;
  left: 40%;
  color: black;
  font-size: 100%;
  float:left;
  Border-style: none;/* dotted line*/
  overflow: hidden;
  /* text-align: center; */
  box-sizing: border-box;
  /* font-weight: bold; */
  /* color: blue; */
}

#CM
{
  background: white;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height:100%;
  width:50%;
  float:left;
  /* Border-style: none;/* dotted line*/ */
  overflow: hidden;
  /* text-align: center; */

}

#TextCM
{
  background: white;
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height:0%;
  min-width:0%;
  top: 5%;
  left: 40%;
  color: black;
  font-size: 100%;
  float:left;
  Border-style: none;/* dotted line*/
  overflow: hidden;
  /* text-align: center; */
  box-sizing: border-box;
  /* font-weight: bold; */
}

#gui
{
  position: absolute;
  /* margin-top: 100px; */
  top: 20px;
  left: 10px;
  z-index: 100;
  /* width: 5px; */
}

#progress
{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#display
{
  position: absolute;
  /* margin-top: 100px; */
  top: 25px;
  left: 50%;
  z-index: 100;
  display: inline-block;
  width: 10em;
  box-sizing: border-box;
  float:left;
  text-align: center;

}
